<%=h flash[:notice] %>
<%=h flash[:error] %>
<h1>Forgot your password?</h1>

<%= error_messages_for :user %>
<% form_for :user, :url => {:action=>"reset_password_email"} do |f| -%>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= submit_tag 'Help me!' %></p>
<% end -%>
