<%=h flash[:notice] %>
<%=h flash[:error] %>
<h1>Enter your new password</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => {:action=>"set_password"} do |f| -%>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= hidden_field(:user, :activation_code) -%>
<%= submit_tag 'Set password' %></p>
<% end -%>
